body
	padding-top 110px

.navbar
	background-color darkturquoise
	.navbar-nav
		color #eee
	.navbar-header a.navbar-brand
		color #eee
		h6
			color #eee
		
footer
	padding-left 15px
	padding-right 15px
	p
		border-top 1px solid #d7e0e2
	
.navbar-form
	margin-top 25px
	.form-group
		margin-left 10px
	button
		margin-left 10px
	a #eee