.container
	.jumbotron
		h1 MultiVision
		p Welcome to MultiVision, this is a thing, type some stuff here. Blah, blah. Che ho'u pakova!

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")